doctype html
html(lang='en-US')
  head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Tic-Tac-Toe
  link(rel='stylesheet', href='css/main.css')
body
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  .row
    .large-12.columns
      h1 Shall we play a game?

  table
    thead
    tbody
      tr#a
        td#one
        td#two
        td#three
      tr#b
        td#four
        td#five
        td#six
      tr#c
        td#seven
        td#eight
        td#nine

  h2#currentMove

  // build:js js/vendor.min.js
  // bower:js
  // endbower
  // endbuild

  // build:js js/main.min.js
  script(src="/scripts/main.js")
  // endbuild
